:root {
    --bg-color: #1C1C1C;
    --num-bg-color:	hsl(0, 0%, 31%);
    --num-bg-color-hover: hsl(0, 0%, 62%);
    --num-txt-color: white;
    --symbol-bg-color: hsl(35, 100%, 50%); 
    --symbol-bg-colo-hover: hsl(35, 100%, 75%);
    --clear-bg-color: hsl(60, 2%, 83%);
    --clear-bg-color-hover: hsl(60, 2%, 58%);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Nanum Gothic", sans-serif;
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-weight: 700;
    color: var(--num-txt-color);
}

.calc-container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    justify-content: center;
    align-content: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    font-size: 1em;
    line-height: 1em;
    cursor: pointer;
    padding: 2.6em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: none;
}


.double-size-btn {
    grid-column: span 2;
    width: 95%;
    border-radius: 55px;
    
}

.output-container {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 15px;
    word-break: break-all;
    word-wrap: break-word;
}

.current-number {
    color:hsl(60, 2%, 80%);
    font-size: 2.75em;
}

.previous-number {
    color:hsl(60, 2%, 60%);
    font-size: 1.25em;
}

.clear {
    background-color: var(--clear-bg-color);
    color: var(--num-bg-color);
}
.clear:hover {
    background-color: var(--clear-bg-color-hover);
}

.symbol {
    background-color: var(--symbol-bg-color);
}
.symbol:hover {
    background-color: var(--symbol-bg-colo-hover);
}

.number {
    background-color: var(--num-bg-color);
}
.number:hover {
    background-color: var(--num-bg-color-hover);
}